Twisted==14.0.2
argparse==1.2.1
cffi==0.8.6
characteristic==14.1.0
cryptography==0.6.1
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
service-identity==14.0.0
six==1.8.0
wsgiref==0.1.2
zope.interface==4.1.1
git+https://github.com/fiorix/cyclone
