<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{_("cyclone web server")}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="{{ static_url('favicon.ico') }}">
    <style>
      body {padding-top: 60px;}
    </style>

  </head>

  <body>
    <div class="container">
    <!--
    you can create multiple block entries per template
    ex: sidebar, menu, footer
    -->
    {% block page %}{% end %}
    </div> <!-- /container -->
  </body>
</html>
