<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
    <!--
    you can create multiple block entries per template
    ex: sidebar, menu, footer
    -->
    {% block page %}{% end %}
    </div> <!-- /container -->
  </body>
</html>
